
.animate-fadeInUp {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}
.animate-fadeInUp.delay-300 { animation-delay: 0.3s; }
.animate-fadeInUp.delay-500 { animation-delay: 0.5s; }

@keyframes fadeInUp {
    to { opacity: 1; transform: translateY(0); }
}


.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-up.appear {
  opacity: 1;
  transform: translateY(0);
}


.animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #5a403f, #bfa57a, #f4e1c1, #5a403f); 
  background-size: 1200% 1200%;
  z-index: -1;
  animation: gradientMove 12s ease infinite; 
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.flowing-text {
  display: inline-block;
  animation: floatText 3s ease-in-out infinite alternate;
}

@keyframes floatText {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.btn {
  padding: 0.75rem 1.5rem; 
  border-radius: 0.5rem;   
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease-in-out; 
  display: inline-block;
}

.btn:hover {
  transform: scale(1.10); 
}


.btn-brown {
  background-color: #3b2f2f;
  color: white;
}

.btn-brown:hover {
  background-color: #5a403f;
}


.btn-light {
  background-color: white;
  color: #3b2f2f;
}

.btn-light:hover {
  background-color: #e5e7eb;
}

.nav-link {
  position: relative;
  display: inline-flex;       
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  padding: 0.5rem 1rem;       
}

.nav-link:hover {
  transform: scale(1.05);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;               
  left: 50%;                 
  width: 0%;
  height: 2px;
  background-color: white;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 60%;                 
}

.sure{
  color: #f4d58e;
}
.sure::first-letter{
  font-size: 1.6em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
